.formContainer {
  margin: 200px;
  padding: 80px 100px;
  border-radius: 100px;
  background-color: skyblue;
}

.header {
  text-align: center;
  color: steelblue;
  font-weight: 700;
}

.form-label {
  color: steelblue;
  font-weight: 700;
  font-size: large;
}

.form-btn {
  padding: 5px 60px;
  margin-right: 20px;
  background-color: steelblue;
}