.chatsContainer {
  margin: 5% 10% 2% 10%;
  height: 750px;
  padding: 3% 4%;
  border-radius: 100px;
  background-color: skyblue;
}

.chatContainerHeader {
  width: 100%;
  height: 90px
}

.chatContainerBody {
  height: 100%;
}

.chat-header {
  color: steelblue;
  text-align: center;
  font-weight: 700;
}

.chat-list {
  float: left;
  width: 40%;
  border: none;
  height: 85%;
}

.chat-list-body {
  overflow-y: auto;
  height: 90%
}

.current-chat {
  float: right;
  width: 60%;
  padding: 0% 2%;
  height: 85%;
}

.chatbox {
  height: 100%;
}

#current-chat-messages {
  background-color: powderblue;
  border-radius: 20px;
  height: 80%;
  overflow-y: auto;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  display:inline-block;
  clear: both;
  padding: 2%;
  border-radius: 20px;
  margin-bottom: 2px;
}

.chat-btn {
  background-color: steelblue;
  border: none;
  cursor: pointer;
  padding:5% 2%;
  margin: 2% 0%;
  width:90%;
  border-radius: 100px;
}

.chat-message-notification {
  font-size: 10px;
  margin: 0;
}

.chat-list-header {
  color: steelblue;
  width:90%;
  text-align: center;
  font-weight: 700;
}

.current-chat-header {
  color: steelblue;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.input-btn {
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 10px;
}

.input-btn-chat {
  margin: 0px 5px;
  width: 90px;
  color: white;
  border: none;
  border-radius: 10px;
}

.new-messages-line {
  width: 100%;
  border-bottom: black;
  height: 2px
}

.right-msg {
  float: right;
  max-width: 45%;
  margin: 2px 10px;
  background-color: skyblue;
}

.left-msg {
  float: left;
  max-width: 45%;
  margin: 2px 10px;
  background-color: deepskyblue;
}

.message {
  font-size: 15px;
  margin: 5px
}

.message-info {
  font-size: 10px;
  margin: 5px
}

.tooltip-inner {
  background-color: skyblue;
}

.bs-tooltip-right .arrow::before { border-right-color: skyblue; }
.bs-tooltip-left .arrow::before { border-left-color: skyblue; }


.circle {
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  height: 10px;
  width: 10px;
}

.dashed {
  border-bottom: 1px dashed #000;
  text-align: center;
  height: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 0;
}

.dashed span {
  background: powderblue;
  padding: 0 5px;
}

.user-logged {
  background-color: green;
}

.user-not-logged {
  background-color: red;
}

.tooltip-username {
  display: inline-block;
  font-size: 15px;
  margin: 5px;
}

#createChat-btn {
  float: right;
}

.btn-primary {
  background-color: steelblue;
  border-color: steelblue;
}